:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue: #32425C;
  --basik-dark-blue: #293449;
  --basic-red: #EE3643;
  --basic-gray: #A9A9A9;
  --basic-yellow: #FFD180;
  --basick-green: #63A63E;
  --special-social-dark: #212A3A;
  --special-light-gray: #F1F5F7;
  --special-sand: #F7F3EC;
  --special-orange: #FFBF47;
  --special-light-blue: #3BBCE3;
  --special-light-violet: #DC91D8;
  --special-light-green: #8ED78F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--basic-black);
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: var(--special-light-gray);
}

.header__wrapper_blue {
  background-color: var(--basik-dark-blue);

  margin-bottom: 43px;
}

.header-top {
  display: flex;
  height: 42px;
}

.header__logo {
  background: var(--basic-red);
  padding: 12px 56px;
  border-bottom: 5px solid #ad1313;
  margin-bottom: -5px;
}

.header__search-wrapper {
  flex-grow: 1;
  position: relative;
}

.header__search-icon {
  position: absolute;
  top: 12px;
  left: 17px;
  fill-opacity: 0.3;
}

.header__search {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding-left: 42px;
  color: var(--basic-white);
}

.header__search:hover {
  background-color: #212a3a;
}

.header__search:hover + .header__search-icon {
  fill-opacity: 1;
}

.header__search:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);;
  outline: none;
}

.header__search:focus + .header__search-icon {
  fill-opacity: 1;
}

.header__search:focus + .header__search-icon path {
  fill: #EE3643;
}

.header__search::placeholder {
  color: #FFFFFF;
}

/*отключение крестика у input*/
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.header__button-list {
  list-style: none;
  display: flex;
  color: var(--basic-white);
}

.header__button-item {
  display: flex;
}

.header__button-item:active > a {
  color: rgba(255, 255, 255, 0.3);
}

.favorites:active {
  background-color: rgba(22, 29, 41, 1);
}

.cart {
  background-color: var(--basic-red);
}

.cart:active {
  background-color: rgba(186, 39, 50, 1);
}

.order {
  background-color: var(--basick-green);
}

.order:hover {
  background-color: #5FBB2D;
}

.order:active {
  background-color: #518932;
}

.favorites::before{
  content: '';
  width: 14px;
  height: 16px;
  background: url("../img/icons/icon-bookmark.svg");
  margin-right: 9px;
  opacity: 0.3;
}

.cart::before{
  content: '';
  width: 15px;
  height: 15px;
  background: url("../img/icons/icon-cart.svg");
  margin-right: 8px;
  opacity: 0.3;
}

.header__button-item:hover .favorites::before,
.header__button-item:hover .cart::before {
  opacity: 1;
}

.header__button-item:active .favorites::before,
.header__button-item:active .cart::before {
  opacity: 0.3;
}

.header__button-link {
  display: flex;
  padding: 9px 20px;
  color: var(--basic-white);
  text-decoration: none;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.header__description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 30px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__address-description {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

.header__address-phone {
  width: 270px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-red);
  border: 3px solid white;
  text-decoration: none;
  padding: 4px 0 5px;
  margin-bottom: 3px;
}

.header__address-phone::before {
  content: '';
  width: 19px;
  height: 19px;
  background: url("../img/icons/icon-phone.svg");
  margin-right: 16px;
}

.header__user-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__user-links {
  background-color: #fff;
  display: flex;
  margin-bottom: 7px;
}

.header__username-btn {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__username-btn::before{
  content: '';
  width: 20px;
  height: 18px;
  background: url("../img/icons/icon-user.svg");
  margin-right: 21px;
  margin-left: 15px;
}

.header__username-btn:hover {
  color: var(--basic-red);
}

.header__username-btn:hover::before {
  background: url("../img/icons/icon-user-blue.svg");
}

.svg-wrapper {
  width: 20px;
  height: 17px;
  margin: 14px 17px;
}

.header__logout-btn:hover path {
  fill: #32425C;
}

.header__user-nav {
  list-style: none;
  display: flex;
}

.header__user-item {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.header__user-item:last-child {
  margin: 0;
}

.header__user-item::after {
  content: '';
  width: 6px;
  height: 7px;
  background: url("../img/icons/dot.svg") no-repeat;
  background-size: 6px 7px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}

.header__user-item:last-child::after {
  display: none;
}

.header__user-link {
  text-decoration: none;
  color: #32425C;
}

.header__user-link:hover {
  color: var(--basic-red);
}

.header__user-link:active {
  color: rgba(197, 197, 197, 1);
}

.header__nav {

  background-color: var(--basic-blue);
  margin-bottom: 65px;
}

.header__nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  border-bottom: 5px solid var(--basik-dark-blue);
  margin-bottom: -5px;
}

.header__nav-link {
  color: var(--basic-white);
  display: inline-block;
  width: 100%;
  line-height: 24px;
  text-decoration: none;
  padding: 16px 28px 15px;
}

.header__nav-link:hover {
  background-color: var(--basik-dark-blue);
}

.header__nav-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1D2739;
}

.main {
  flex: 1 0 auto;
  padding-top: 21px;
}

.main__breadcrumbs {
  display: flex;
  list-style: none;
  margin-bottom: 20px;
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
  margin-right: 17px;
}

.breadcrumbs__item:last-child {
  margin-right: 0;
}

.breadcrumbs__item::after {
  content: '';
  width: 8px;
  height: 12px;
  background: url("../img/icons/arrow-breadcrumbs.svg");
  margin-left: 17px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
}

.main__title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  color: #32425C;
  padding: 30px 0 30px 30px;
  background-color: var(--special-light-gray);

}

.main__catalog {
  display: flex;
}

.column-left {
  width: 220px;
  flex-shrink: 0;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  /*outline: 3px solid rgba(233, 233, 233, 0.7);*/
  /*outline-offset: -3px;*/
}

.form-description{
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px 18px;
  background-color: var(--special-sand);
  border-radius: 2px;
  display: flex;
}

.form-description.left {
  margin-bottom: 15px;
}

fieldset {
  padding: 0;
  border: none;
  margin-bottom: 20px;
}

.plug {
  height:100px;
  background-color: var(--special-sand);
  text-align: center;
  line-height: 100px;
}

.manufacturer,
.price-filter {
  padding-bottom: 26px;
  /*outline: 3px solid rgba(0, 255, 0, 0.7);*/
  /*outline-offset: -3px;*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.form-description.right {
  margin-bottom: 28px;
}

.right__title {
  flex-grow: 1;
}

.right__list {
  list-style: none;
  display: flex;
  margin-right: 45px;
}

.right__item {
  margin-right: 60px;
  border-bottom: 1px dashed var(--basic-red);
  cursor: pointer;
}

.right__item:first-child {
  color: var(--basic-red);
  border-bottom: none;
}

.right__item:last-child {
  margin-right: 0;
}

.arrow-list{
  display: flex;
  list-style: none;
  align-items: center;
}

.arrow-item {
  margin-right: 21px;
  cursor: pointer;
}

.arrow-item:last-child {
  margin-right: 0;
}

.filter {
  display: flex;
  flex-direction: column;
}

.power {
  margin-bottom: 35px;
}

.filter__manufacturer-list,
.power__list {
  list-style: none;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 19px;
  display: flex;
  flex-direction: column;
}

.filter__manufacturer-item,
.power__item {
  margin-bottom: 20px;
}

.filter__manufacturer-item:last-child,
.power__item:last-child {
  margin-bottom: 0;
}

legend {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

label,
.checkbox__input,
.checkbox__radio {
  cursor: pointer;
}


/*Универсальное скрытие чекбоксов*/
.checkbox__input,
.checkbox__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.radio__box,
.check__box {
  display: flex;
  align-items: center;
}

.check__box::before {
  content: '';
  width: 27px;
  height: 23px;
  margin-right: 11px;
  background: url('../img/icons/checkbox-off.svg') no-repeat;
}

.checkbox__input:hover + .check__box::before {
  background: url('../img/icons/checkbox-off-hover.svg') no-repeat;
}

.checkbox__input:checked + .check__box::before {
  background: url('../img/icons/checkbox-on.svg') no-repeat;
}

.checkbox__input:checked:hover + .check__box::before {
  background: url('../img/icons/checkbox-on-hover.svg') no-repeat;
}

.checkbox__input:disabled + .check__box::before,
.checkbox__input:disabled + .check__box {
  opacity: 0.4;
  background: url('../img/icons/checkbox-off.svg') no-repeat;
}

.checkbox__input:disabled:checked + .check__box::before,
.checkbox__input:disabled:checked + .check__box {
  opacity: 0.4;
  background: url('../img/icons/checkbox-on.svg') no-repeat;
}

.radio__box {
  display: flex;
  align-items: center;
}

.radio__box::before {
  content: '';
  width: 25px;
  height: 25px;
  margin-right: 11px;
  background: url('../img/icons/radio-off.svg') no-repeat;
}

.checkbox__radio:hover + .radio__box::before {
  background: url('../img/icons/radio-off-hover.svg') no-repeat;
}

.checkbox__radio:checked + .radio__box::before {
  background: url('../img/icons/radio-on.svg') no-repeat;
}

.checkbox__radio:checked:hover + .radio__box::before {
  background: url('../img/icons/radio-on-hover.svg') no-repeat;
}

.checkbox__radio:disabled + .radio__box::before,
.checkbox__radio:disabled + .radio__box {
  opacity: 0.4;
  background: url('../img/icons/radio-off.svg') no-repeat;
}

.checkbox__radio:disabled:checked + .radio__box::before,
.checkbox__radio:disabled:checked + .radio__box {
  opacity: 0.4;
  background: url('../img/icons/radio-on.svg') no-repeat;
}

.filter__button {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: transparent;
  text-transform: uppercase;
  padding: 10px 0;
  border: 1px solid rgba(234, 234, 234, 1);
  cursor: pointer;
}

.filter__button:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.filter__button:active {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.catalog__list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.catalog__card {
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-white);
  text-align: center;
  border: 1px solid rgba(234, 234, 234, 1);
}

.catalog__card:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.catalog__card:nth-child(3n) {
  margin-right: 0;
}

.card__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 178px;
}

.buttons {
  display: none;
  flex-direction: column;
  flex-basis: 178px;
  padding-top: 38px;
  width: 135px;
  margin: 0 auto;
}

.catalog__card:hover .buttons {
  display: flex;
}

.catalog__card:hover .card__preview {
  display: none;
}

.buttons__hidden {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-radius: 2px;
}

.buttons__buy {
  margin-bottom: 10px;
  background: #63A63E;
  box-shadow: inset 0 -3px 0 #367315;
  color: var(--basic-white);
}

.buttons__buy:hover {
  background: #5FBB2D;
}

.buttons__buy:active {
  background: #518534;
}

.buttons__buy_text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons__buy_text::before {
  content: '';
  width: 15px;
  height: 15px;
  background: url('../img/icons/icon-cart.svg');
  margin-right: 10px;
}

.buttons__bookmarks {
  box-sizing: border-box;
  outline: 3px solid #63A63E;
  outline-offset: -3px;
  color: var(--basic-blue);
}

.buttons__bookmarks:hover {
  outline-color: var(--basic-blue);
}

.buttons__bookmarks:active {
  color: var(--basic-blue);
  outline-color: var(--basic-blue);
  opacity: 0.5;
}

.card__title {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 7px;
  flex-grow: 1;
}

.price {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.card__old-price {
  text-decoration-line: line-through;
  color: #A9A9A9;
  margin-bottom: 13px;
}

.card__current-price {
  color: var(--basic-white);
  cursor: pointer;
  background-color: var(--basic-red);
  margin: 0 45px 21px;
  padding: 10px 0;
  border-radius: 3px 0 0 3px;
  position: relative;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.card__current-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -19px;
  display: inline-block;
  vertical-align: top;
  border: 19px solid transparent;
  border-right: 0 #fff;
  border-left-color: #ee3643;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.pagination__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 60px;
  /*column-gap: 10px;*/
}

.pagination__item {
  margin-right: 10px;
}

.pagination__text {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
}

.pagination__check:checked + .pagination__text {
  border-color: var(--basic-red);
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.pagination__check:hover + .pagination__text {
  border-color: #C5C5C5;
}

.pagination__check:checked:hover + .pagination__text {
  border-color: var(--basic-red);
}

.main__description {
  background-color: var(--special-light-gray);
  padding: 64px 0 68px;
}

.description-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.description-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/*Footer*/

.footer {
  background-color: var(--basic-blue);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 21px;
}

.footer__logo {
  padding: 20px 41px;
  background: var(--basic-red);
  border-bottom: 5px solid #ad1313;
  margin-bottom: -5px;
}

.footer__nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.footer__nav-link {
  color: var(--basic-white);
  line-height: 24px;
  text-decoration: none;
}

.footer__nav-item {
  margin-right: 58px;
}

.footer__nav-item:last-child {
  margin-right: 0;
}

.footer__nav-link:hover {
  text-decoration: underline;
}

.footer__nav-link:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 54px;
}

.footer__address {
  color: var(--basic-white);
}

.footer__nav-list_middle {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.footer__nav-item_middle {
  margin-right: 58px;
  margin-top: 5px;
}

.footer__nav-item_middle:last-child {
  margin-right: 0;
}

.footer__nav-link_middle {
  color: #FFD180;
  text-decoration: none;
}

.footer__nav-link_middle:hover {
  text-decoration: underline;
}

.footer__nav-link_middle:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-bottom {
  background-color: var(--basik-dark-blue);
}

.footer-container {
  display: flex;
  padding: 36px 0 34px;
  justify-content: space-between;
}

.footer__copyright {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.footer__social {
  display: flex;
  list-style: none;
}

.social__link:hover path:first-child {
  fill: var(--basic-red);
}

.social__link:active path:first-child {
  fill: var(--basic-red);
  opacity: 0.85;
}

.footer__authors {
  display: flex;
}

.footer__feedback {
  margin-right: 51px;
}

.authors__description {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
}

.authors__link {
  color: #FFD180;
  text-decoration: none;
}

.authors__link:hover {
  text-decoration: underline;
}

.authors__link:active {
  text-decoration: none;
  color: var(--basic-red);
}