:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-blue: #32425C;
  --basik-dark-blue: #293449;
  --basic-red: #EE3643;
  --basic-gray: #A9A9A9;
  --basic-yellow: #FFD180;
  --basick-green: #63A63E;
  --special-social-dark: #212A3A;
  --special-light-gray: #F1F5F7;
  --special-sand: #F7F3EC;
  --special-orange: #FFBF47;
  --special-light-blue: #3BBCE3;
  --special-light-violet: #DC91D8;
  --special-light-green: #8ED78F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.page-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--basic-black);
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
  background-color: var(--special-light-gray);
}

.header__wrapper_blue {
  background-color: var(--basik-dark-blue);

  margin-bottom: 43px;
}

.header-top {
  display: flex;
  height: 42px;
}

.header__logo {
  background: var(--basic-red);
  padding: 12px 56px;
  border-bottom: 5px solid #ad1313;
  margin-bottom: -5px;
}

.header__search {
  flex-grow: 1;
  border: none;
  background-color: transparent;
  padding-left: 17px;
}

.header__search:focus {
  background-color: #fff;
}

.header__search::placeholder {
  color: #FFFFFF;
}

.header__button-list {
  list-style: none;
  display: flex;
  color: var(--basic-white);
}

.header__button-item {
  display: flex;
}

.header__button-item:active > a {
  color: rgba(255, 255, 255, 0.3);
}

.favorites:active {
  background-color: rgba(22, 29, 41, 1);
}

.cart {
  background-color: var(--basic-red);
}

.cart:active {
  background-color: rgba(186, 39, 50, 1);
}

.order {
  background-color: var(--basick-green);
}

.order:hover {
  background-color: #5FBB2D;
}

.order:active {
  background-color: #518932;
}

.favorites::before{
  content: '';
  width: 14px;
  height: 16px;
  background: url("../img/icons/icon-bookmark.svg");
  margin-right: 9px;
  opacity: 0.3;
}

.cart::before{
  content: '';
  width: 15px;
  height: 15px;
  background: url("../img/icons/icon-cart.svg");
  margin-right: 8px;
  opacity: 0.3;
}

.header__button-item:hover .favorites::before,
.header__button-item:hover .cart::before {
  opacity: 1;
}

.header__button-item:active .favorites::before,
.header__button-item:active .cart::before {
  opacity: 0.3;
}

.header__button-link {
  display: flex;
  padding: 9px 20px;
  color: var(--basic-white);
  text-decoration: none;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.header__description {
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding-left: 30px;
}

.header__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__address-description {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
}

.header__address-phone {
  width: 270px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-red);
  border: 3px solid white;
  text-decoration: none;
  padding: 4px 0 5px;
  margin-bottom: 3px;
}

.header__address-phone::before {
  content: '';
  width: 19px;
  height: 19px;
  background: url("../img/icons/icon-phone.svg");
  margin-right: 16px;
}

.header__user-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__user-links {
  background-color: #fff;
  display: flex;
  margin-bottom: 7px;
}

.header__username-btn {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__username-btn::before{
  content: '';
  width: 20px;
  height: 18px;
  background: url("../img/icons/icon-user.svg");
  margin-right: 21px;
  margin-left: 15px;
}

.svg-wrapper {
  width: 20px;
  height: 17px;
  margin: 14px 17px;
}

.header__user-nav {
  list-style: none;
  display: flex;
}

.header__user-item {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.header__user-item:last-child {
  margin: 0;
}

.header__user-item::after {
  content: '';
  width: 6px;
  height: 7px;
  background: url("../img/icons/dot.svg") no-repeat;
  background-size: 6px 7px;
  margin-left: 15px;
  align-items: center;
  justify-content: center;
}

.header__user-item:last-child::after {
  display: none;
}

.header__user-link {
  text-decoration: none;
  color: #32425C;
}

.header__user-link:hover {
  color: var(--basic-red);
}

.header__user-link:active {
  color: rgba(197, 197, 197, 1);
}

.header__nav {

  background-color: var(--basic-blue);
  margin-bottom: 65px;
}

.header__nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  border-bottom: 5px solid var(--basik-dark-blue);
  margin-bottom: -5px;
}

.header__nav-item {
}

.header__nav-link {
  color: var(--basic-white);
  display: inline-block;
  width: 100%;
  line-height: 24px;
  text-decoration: none;
  padding: 16px 28px 15px;
}

.header__nav-link:hover {
  background-color: var(--basik-dark-blue);
}

.header__nav-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1D2739;
}

.main {
  flex: 1 0 auto;
}